.profileBlock {
    margin: 0 auto
}

.profileBlock ul {
    list-style-type: none;
}

.button {
    padding: 10px;
    margin-right: 5px;
}

.workerAvatar {
    width: 200px;
    height: 200px;
}

.formField {
    margin-bottom: 10px !important;;
}

.arrayField {
    margin-bottom: 10px !important;
}

h1 {
    margin: 0;
}

.saveDeleteButtons {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.filterButton {
    margin-right: 10px !important;
}

.arrayForm {
    display: flex;
    align-items: flex-start;
}

.filterYear {
    margin-right: 10px;
}

.addProfit {
    margin-bottom: 10px;
}