.workersBlock {
    margin: 0 auto;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.formField {
    margin-bottom: 20px !important;
}

.buttonsBlock {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}

a {
  text-decoration: none;
}