.workersBlock {
    margin: 0 auto;
}

.avatar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.formField {
    margin-bottom: 20px !important;
}

.buttonsBlock {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}