.workersBlock {
    /*display: flex;*/
    width: 100%;
}

.list {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.link {
    color: white;
    text-decoration: none;
}

.listItem {
    font-size: 20px;
    color: black;
}

.table {
    margin: 50px;
}